<%#= image_tag 'logos/logo1', width: 200 %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch modal
  </button>
</div>


<%= render 'modal' %>


<%= link_to "Scroll Page", scroll_path %>




