<div class="home-banner">
  <h1>Le Wagon</h1>
  <p>
    <span id="text-from-typed"></span>
  </p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
